<div class="container block">
  <div class="row">
    <div class="col-12">
      <h1>TP d'initialion a </h1>
    </div>
    <div class="col-12">
      <img class="angular" src="./../../assets/0.png">
    </div>
  </div>
</div>
<div class="container">
  <p><b> Page des exercices</b></p>
  <a>TP1</a>
  <ul class="list-group">
    <li class="list-group-item" [routerLink]="['/1']">Exercice 1</li>
    <li class="list-group-item" [routerLink]="['/2']">Exercice 2</li>
    <li class="list-group-item" [routerLink]="['/3']">Exercice 3</li>

  </ul> 
  <a>TP2</a>
  <ul class="list-group">
    <li class="list-group-item" [routerLink]="['/tp21']">Exercice 1</li>
    <li class="list-group-item" [routerLink]="['/tp22']">Exercice 2</li>

  </ul>
</div>