<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Tp Angular</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/1']">Tp 1 Exercice 1 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/2']" >Tp 1 Exercice 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/3']">Tp 1 Exercice 3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/4']">Tp 2 Exercice 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/5']">Tp 2 Exercice 2</a>
      </li>
  
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
